@media screen and (max-width:575px){
    .weather .row{
        gap: 20px;
    }
    
}
@media screen and (max-width:485px){
    .search input{
        font-size:16px;
        padding:0px 15px;
    }
}
@media screen and (max-width:425px){
    .main .menue{
        padding: 40px 10px;
    }
    .search input{
        padding-right: 0px;
    }
}
@media screen and (max-width:375px){
    .search{
        gap: 10px;
        justify-content: center;
    }
    .search input{
        padding-right: 0px;
        font-size: 12px;
        height: 50px;
    }
    .search button{
        width: 50px;
        height: 50px;
    }
    .weather h1{
        font-size: 60px;
    }
    .weather h2{
        font-size: 35px;
    }
}